[Desktop Entry]
Type=Application
Name=wFirma
Comment=Uruchom wFirmę
Icon=/home/sevos/.local/share/icons/hicolor/48x48/apps/wfirma.png
Exec=chromium --app="https://wfirma.pl/logowanie" %U
Terminal=false
